.env
.env.*
!.env.example
.git
.gitignore
.phpunit.cache
.phpunit.result.cache
/auth.json
vendor
database/*.sqlite
bootstrap/cache/*.php
phpunit.xml
tests
public/storage
storage/*.key
storage/app/.app-key
storage/app/private/*
storage/app/public/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
